* {
  padding: 0;
  margin: 0;
  border: none; }

p {
  display: flex;
  flex-direction: column; }

.landing-logo {
  display: flex;
  flex-direction: row; }

.header_button, .section_banner_button {
  color: #eaf3f7;
  background-color: #699a00; }

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; }

header {
  background-image: url("../img/m-h-day.jpg");
  height: 719px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-bottom-right-radius: 630px 250px;
  padding-top: 20px;
  margin-bottom: 32px; }

.header-wrap {
  max-width: 80.1%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  color: #282b39; }
  .header-wrap .header_heading {
    position: relative;
    font-size: 69px;
    font-weight: 700;
    color: #282b39;
    width: 465px;
    line-height: 60px; }
    .header-wrap .header_heading:after {
      content: "awesome";
      position: absolute;
      height: 46px;
      background-color: #0ca1c8;
      line-height: 24px;
      top: 77px; }
  .header-wrap .header_text {
    margin-top: 54px;
    font-family: "Hind";
    letter-spacing: 0.16px;
    white-space: pre-line;
    line-height: 24px;
    margin-bottom: 64px; }

.header_button {
  margin-right: 153px;
  padding: 18px 42px 18px 44px;
  border-radius: 3.8px;
  font-size: 17px;
  border: none;
  font-weight: 700;
  cursor: pointer; }
  .header_button:hover {
    background-color: #88c800; }

.login {
  color: #ffffff;
  font-size: 18.5px;
  font-family: "Hind";
  font-weight: 600; }

.landing-logo {
  vertical-align: baseline;
  margin-bottom: 72px; }
  .landing-logo img {
    padding-right: 14px; }
  .landing-logo p {
    font-family: "Hind";
    font-weight: 600;
    font-size: 23px;
    line-height: 30px; }
    .landing-logo p span {
      font-size: 11px;
      text-align: center;
      line-height: 10px; }

.main {
  max-width: 1920px; }

.section_text {
  color: #282b39;
  width: 378px;
  margin: 0 auto 37px auto;
  font-size: 38px;
  font-weight: 600;
  position: relative;
  z-index: -1; }
  .section_text:after {
    content: "adventure";
    background-color: #0ca1c8;
    max-width: 181px;
    height: 40px;
    padding-top: 5px;
    padding-left: 3px;
    text-align: end;
    position: absolute;
    top: -5px;
    right: 3%;
    z-index: 1; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 44px auto; }
  .section_card_wrap .section_card {
    max-width: 1118px;
    background-color: #1c1e2a;
    align-items: center;
    margin-bottom: 23px;
    padding: 18px;
    border-radius: 4px;
    display: flex;
    max-height: 326px; }
  .section_card_wrap .section_card_img {
    width: 90%; }
  .section_card_wrap .section_card_right_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 34px;
    padding-left: 34px; }
  .section_card_wrap .section_card_heading {
    font-family: "Source Sans Pro";
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 46px; }
  .section_card_wrap .section_card_text {
    color: #c1c5b1;
    line-height: 1.3rem;
    text-align: justify;
    width: 73%;
    font-family: "Hind";
    margin-bottom: 24px; }
  .section_card_wrap .section_link {
    color: #c1c5b1;
    text-align: center; }

.section_banner {
  width: 1200px;
  height: 144px;
  background-image: linear-gradient(to right, #689900, #2c5dcf);
  margin: 0 auto;
  position: relative;
  bottom: -65px; }

.section_banner_heading {
  margin-left: 13%;
  padding-top: 33px;
  position: relative;
  font-size: 30px;
  color: #282b39;
  font-weight: 700;
  width: 420px; }
  .section_banner_heading:after {
    content: 'start';
    position: absolute;
    color: #282b39;
    right: 56%;
    background-color: #0ca1c8;
    height: 34px;
    text-align: end;
    top: 21px;
    padding-top: 12px; }

.section_banner_text {
  margin-left: 13%;
  margin-top: 1%;
  color: #c1c5cf; }

.section_banner_text_wrap {
  margin: 0 auto; }

.section_banner_button {
  position: absolute;
  top: 33%;
  right: 13%;
  margin-right: 3%;
  padding: 18px 42px 18px 44px;
  border-radius: 3.8px;
  font-size: 17px;
  border: none;
  font-weight: 700;
  cursor: pointer; }
  .section_banner_button:hover {
    background-color: #88c800; }

.footer {
  background-color: #1c1e2a;
  padding: 93px 0 33px 0;
  color: #c1c5b1; }

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto; }

.footer_logo {
  margin-bottom: 0;
  margin-top: -2px; }

.footer_text {
  width: 324px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 16px; }

/*# sourceMappingURL=style1.css.map */
