$backGroundColor:#1c1e2a;
$backGroundImage: url('../img/m-h-night.jpg');
$color_Head: #ffffff;
$color_awesome_adwenture: #ff4d30;
$color_button: #e4ae00;
$color_white_text: #ffffff;
$fonts_saturation: ('thin': 400, 'middle': 500, 'upper_midle': 600, 'thick': 700);
$color_Bg_card: #383d4f;
$color_banner_text: #c1c5cf;
$color_card_text: #c1c5b1;
$color_text_button: #eaf3f7;
$color_gradient_From: #e2ab00;
$color_gradient_To: #972f4e;
$color_main_text: #ffffff;
