$backGroundColor:#fff;
$backGroundImage: url('../img/m-h-day.jpg');
$color_Head: #282b39;
$color_awesome_adwenture: #0ca1c8;
$color_button: #699a00;
$color_white_text: #ffffff;
$color_Bg_card: #1c1e2a;
$color_banner_text: #c1c5cf;
$fonts_saturation: ('thin': 400, 'middle': 500, 'upper_midle': 600, 'thick': 700);
$color_card_text: #c1c5b1;
$color_text_button: #eaf3f7;
$color_gradient_From: #689900;
$color_gradient_To: #2c5dcf;
$color_main_text: #282b39;
